.myDialog {
    -fx-background-color: #393e46;
}

.myDialog > *.button-bar > *.container {
    -fx-background-color: #393e46;
}

.myDialog > .button-bar > .container > .details-button {
    -fx-font-weight: bold;
    -fx-background-color: #393e46;
}

.myDialog > .button-bar > .container > .details-button.more {
    -fx-background-color: #393e46;
}

.myDialog > .button-bar > .container > .details-button.less {
    -fx-background-color: #393e46;
}

.myDialog > .button-bar > .container > .details-button:hover {
    -fx-underline: true;
}

.myDialog > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #eeeeee;
}

.dialog-pane {
    -fx-background-color: #393e46;
}

.dialog-pane .label {
    -fx-text-fill: #393e46;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #393e46;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}

.dialog-pane .button {
    -fx-background-color: #222831;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(three-pass-box, #dedede, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor: hand;
}

.dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
