.button {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.choice-box {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.tab-pane {
    -fx-border-color: rgba(0, 0, 0, 0.08);
}

.tab-pane > *.tab-header-area > *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-text-box-border, white;
}
