.button {
    -fx-background-color: #52616b;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}

.cancel {
    -fx-background-color: #52616b;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.execute {
    -fx-background-color: #276678;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.label, .choice-box > .label {
    -fx-text-fill: #eeeeee;
}

.choice-box {
    -fx-background-color: #393e46;
    -fx-mark-color: #393e46;
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-text-fill: #eeeeee;
    -fx-font-size: 14px;
}

.choice-box .context-menu {
    -fx-background-color: #393e46;
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #eeeeee;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
    -fx-background-color: #232c38;
    -fx-cursor: hand;
    -fx-border-color: #3d424b;
}

.tab-label {
    -fx-text-fill: #eeeeee;
}

.tab-pane .tab:selected {
    -fx-background-color: #3d424b;
    -fx-border-color: transparent;
}

.tab-pane {
    -fx-border-color: #21252b;
    -fx-background-color: #232c38;
    -fx-padding: 5px;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane > *.tab-header-area > *.tab-header-background {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-color: #232c38;
    -fx-text-fill: #eeeeee;
}

.main {
    -fx-background-color: #222831;
}

.text-area .content, .text-field {
    -fx-background-color: #393e46;
    -fx-text-fill: #eeeeee;
    -fx-background-insets: 0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-text-fill: #ffffff;
    -fx-display-caret: true;
    -fx-background-color: #393e46, #393e46;
}

.text-area:focused .content {
    -fx-background-color: #393e46;
}

.menu-bar {
    -fx-background-color: #393e46;
}

.menu {
    -fx-background-color: #393e46;
}

.menu:showing {
    -fx-background-color: #eeeeee;
}

.menu .label {
    -fx-text-fill: #eeeeee;
}

.menu:showing .label {
    -fx-text-fill: black;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.tree-view .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.tree-view .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.tree-view, .tree-cell {
    -fx-background-color: #232c38;
    -fx-text-fill: white;
    -fx-arrows-visible: true;
}

.tree-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: orange;
}