title: POIKit
email: sen.hu@whu.edu.cn
description: >- # this means to ignore newlines until "baseurl:"
  POIKit 目的是提供一套简单易用且稳定的 POI 获取与处理工具套件，方便 GIS 相关从业者。
baseurl: "/AmapPoi" # the subpath of your site, e.g. /blog
url: ""
github_username: Civitasv

# Build settings
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed
github:
  github_url: https://github.com/Civitasv/AMapPoi/releases/download/v0.0.4-alpha/POIKit.zip
  gitee_url: https://gitee.com/simpls/AMapPoi/attach_files/682825/download/POIKit.zip
show_downloads: true
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
